<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109419105-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109419105-2');
  </script>
</head>
<body>
<img id="bust" src="bustmac.gif"/>
<div class="window">
  <div class="window-header-container">
    <div class="window-header-text">絶望のどん底</div>
    <div class="x-button">X</button>
  </div>
  <div class="window-content-container">
    <img src="warning.png"/>
    <div class="window-text">
        There was a problem. Life is pain is art. Crystal Pepsi.
    </div>
  </div>
  <div class="window-button-container">
    <a href="/"><div class="window-button">Try again</div></a>
    <a href="https://www.github.com/sozorogami/cocoatree/issues"><div class="window-button">Complain</div></a>
  </div>
</div>

</body>
</html>
